body * {
	background-color: rgba(0, 0, 0, .05);
}
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}
body {
	font-size: 16px;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 35px;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
	line-height: 30px;
	float: left;
}
h2 {
	font-size: 35px;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}
h3 {
	font-size: 24px;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}
h4 {
	font-size: 14px;
	font-weight: bold;
	font-family: "Roboto", "Arial", sans-serif;
}
.wrapper {
	min-width: 900px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.right_item_container {
	width: 267px;
	float: right;
	margin-top: 23px;
}
.right_item {
	width: 267px;
	margin-bottom: 10px;
	float: right;
}
.graph_phone {
	width: 170px;
	min-width: 200px;
	padding: 0 10px;
	float: right;
}
.main_navigation {
	min-width: 560px;
	float: left;
	margin-top: 30px;
}
.logo {
	float: left;
	margin-right: 30px;
	margin-top: 10px;
}
.navigation {
	float: left;
	min-width: 400px;
}
.main_header, .main_container, .main_footer {
	min-width: 900px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2.3%;
}
.container {
	width: 100%;
}
.main_slide {
	min-height: 584px;
	margin-top: -34px;
}
.slide {
	padding-top: 315px;
	min-height: 249px;
	text-align: center;
}
.text_slide {
	width: 55.8%;
	margin: 0 auto;
}
.button_slide {
	width: 280px;
	margin: 0 auto;
}

.violet_2 {
	display: none;
}
.brown_3 {
	display: none;
}
.free_container {
	margin-bottom: 40px;
	font-size: 0;
	padding: 0 20px;  
}
.block_free {
	display: inline-block;
	vertical-align: top;
	width: 48.8%;
	margin-right: 2.2%;
}
.block_free:nth-child(2n) {
	margin-right: 0;
}
.raspberry {
	padding-right: 20px;
}
.chocolate {
	padding-left: 20px;
}
.block_free p{
	font-weight: bold;
	font-size: 18px;
}
.catalog_container {
	margin-bottom: 40px;
	font-size: 0px;
}
.catalog_item {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	width: 23.3%;
	margin-right: 2.2%;
}
.catalog_item:nth-child(4n) {
	margin-right: 0; 
}
.about_company {
	margin-bottom: 40px;
	font-size: 0px;
	padding: 0 20px;
}
.block_info {
	display: inline-block;
	vertical-align: top;
	width: 47%;
	margin-right: 6%;
	font-size: 16px;
}
.block_info:nth-child(2n+1) {
	margin-right: 0;
}
p {
	font-weight: normal;
}
.news_delivery {
 	margin-bottom: 40px;
	font-size: 0;
	padding: 0 20px;
}
.block_n_d {
	display: inline-block;
	vertical-align: top;
	width: 48.8%;
	margin-right: 2.2%;
	font-size: 16px;
}
.block_n_d:nth-child(2n) {
	margin-right: 0;
}
.delivery {
	padding-left: 27px;
}
.map_container {
	position: relative;
	margin-top: -430 px;
}
.container_contacts {
	position: absolute;
	right: 2.3%;
	top: 50%;
	transform: translateY(-50%);
	max-height: 350px;
}
.main_footer {
	margin-top: 20px;
	text-align: center;
}
.footer_social {
	float: left;
	min-width: 186px;
	margin-top:15px;
}
.footer_center {
	display: inline-block;
	min-width: 304px;
	margin-top: 15px;
}
.footer_logo {
	float: right;
	min-width: 190px;
}
.breadcrumbs {
	float: left;
	width: 220px;
	margin-right:633px;
}
.pagination {
	float: right;
	width: 190px;
}
.container_filter {
	width: 853px;
	margin-bottom: 40px;
}
.filter {
	font-size: 0px;
}
.block_sorting {
	float: left;
	width: 853px;
}
.sorting {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	width: 193px;
	margin-right: 14px;
}
.range_filter {
	display: inline-block;
	vertical-align: top;
	width: 218px;
	margin-right:14px;
}
.block_fatness {
	display: inline-block;
	vertical-align: top;
	width: 414px;
}
.block_filler {
	display: inline-block;
	vertical-align: top;
	width: 702px;
	margin-top: 20px;
}
.btn {
	font-size: 18px;
}
img {
	max-width:100%;
	height: auto;
	display: block;
}